<div class="product-dialog">

    <div class="close-btn-outer">
        <button mat-mini-fab color="warn" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
    <div mat-dialog-content>
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="50">
                <div class="swiper-container h-100">
                    <div class="swiper-wrapper">
                        <img [src]="domSanitizer.bypassSecurityTrustResourceUrl(product.photo)" alt="" class="img-fluid">
                    </div>

                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="50" ngClass.gt-sm="px-2 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
                <div class="product-right">
                    <div class="product-details">

                        <h2 class="mb-10">{{product.title}}</h2>
                        <div class="prices" fxLayout="row">
                            <h3 class="price mb-10">{{product.price}}£</h3>
                        </div>
                        <div class="discription">
                            <p class="bold">Product details</p>
                            <p class="text-muted productDescription">{{product.description}}</p>
                        </div>
                    </div>

                    <div class="quantity mt-15">
                        <div fxLayout="row" fxLayout.xs="column" class="text-muted mt-15">
                            <div class="button ">
                                <button mat-raised-button color="primary" class="btn-project mr-10" (click)="addToCart(product, counter)">BUY IT NOW</button>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>

</div>