<div class="my-account">
    <div class="header-title" style="background: url(assets/images/background/background.png);">
        <div class="container" id="mainDIV">
            <div class="title">
                <h2 style="color:black">Create Acount</h2>
            </div>
        </div>
    </div>
    <div class="my-acc sec-padding" style="background: url(assets/images/background/download.svg);">
        <div class="container">
            <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
                <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
                    <div class="register-wrapper pr-15" fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
                        <div class="title">
                            <h3>Add User</h3>
                        </div>
                        <div class="register-body">
                            <form fxLayout="row wrap" [formGroup]="createUserForm" (ngSubmit)="createUser($event)">
                                <div fxFlex="50" fxFlex.gt-sm="50" class="px-1" class="m-2" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                    <mat-form-field class="w-50">
                                        <input formControlName="firstname" matInput placeholder="First name (required)" [(ngModel)]="this.data.firstname" name="firstname" required>
                                        <mat-error *ngIf="isSubmitted && (form.firstname.errors?.required)">Please enter a valid first name</mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="50" fxFlex.gt-sm="50" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                    <mat-form-field class="w-50">
                                        <input formControlName="lastname" matInput placeholder="Last name (required)" [(ngModel)]="this.data.lastname" name="lastname" required>
                                        <mat-error *ngIf="isSubmitted && (form.lastname.errors?.required)">Please enter a valid last name</mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                    <mat-form-field class="w-100">
                                        <input formControlName="email" matInput placeholder="Email address (required)" [(ngModel)]="this.data.email" name="email" required>
                                        <mat-error *ngIf="isSubmitted && (form.email.errors?.required||form.email.errors?.email)">Please enter a valid email</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                    <mat-form-field class="w-100">
                                        <input formControlName="password" matInput placeholder="Password (required)" type="password" [(ngModel)]="this.data.password" name="password" required>
                                        <mat-error *ngIf="isSubmitted && (form.password.errors?.required)">Please enter a valid password</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                    <mat-form-field class="w-100">
                                        <mat-label>Select a role</mat-label>
                                        <mat-select formControlName="role" [(ngModel)]="this.data.role">
                                            <mat-option></mat-option>
                                            <mat-option value="ADMIN">Admin</mat-option>
                                            <mat-option value="USER">Client</mat-option>
                                            <mat-option value="DELIVERY">Delivery</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="isSubmitted && (form.role.errors?.required)">Please select a role</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                    <button [disabled]="dataSent" class="btn-project" mat-raised-button [color]="colorCreateUser" type="submit">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </mat-card>

        </div>
    </div>

</div>