<div class="main-details-wrap">
    <div class="header-title" style="background: url(assets/images/background/background.png);">
        <div class="container">
            <div class="title">
                <h2 style="color:black">Product details</h2>
            </div>
        </div>
    </div>


    <div class="details-wrapper sec-padding" *ngIf="product" style="background: url(assets/images/background/download.svg);">
        <div class="container" id="mainDIV">
            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="80">
                <div fxLayout="row wrap" fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
                    <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="45">
                        <!-- <mat-card class="product-image">
                     <div *ngFor="let image of product.pictures">
                        <ngx-image-zoom   [thumbImage]="image" [fullImage]="image" zoomMode="hover"
                    ></ngx-image-zoom>
                     </div>
                  </mat-card> -->
                        <mat-card class="product-image">
                            <div>
                                <button mat-icon-button fxHide="false" fxHide.gt-md>
                          <mat-icon>fullscreen</mat-icon>
                       </button>
                                <img [src]="domSanitizer.bypassSecurityTrustResourceUrl(product.photo)" />
                            </div>
                            <a (click)="openProductDialog(product, bigProductImageIndex)">
                                <mat-icon>zoom_in</mat-icon>
                            </a>
                        </mat-card>

                    </div>
                    <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">

                        <div class="product-right">
                            <div class="product-details">
                                <h2>{{product.title}}</h2>
                                <h3 class="price">{{product.price}}£</h3>
                                <p>Preperation time : {{product.preparation_time_in_min}} mins</p>
                            </div>
                            <div class="quantity mb-15">
                                <div fxLayout="row" fxLayout.xs="column" class="text-muted mt-20">
                                    <div class="buttons ">
                                        <button mat-raised-button color="primary" class="btn-project mr-10" (click)="addToCart(product, counter)">BUY NOW</button>
                                    </div>
                                </div>
                            </div>
                            <div class="social-icons">
                                <span class="text-muted fw-500 ">Share it: </span>
                                <ul fxLayout="row" class="social list-inline mt-15">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="review-wrapper" fxFlex="100" fxFlex.md="75">

                    <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
                        <mat-tab label="Description">
                            <div class="full-desc lh">
                                <p class="text-muted">{{product.description}}</div>
                        </mat-tab>
                    </mat-tab-group>

                </div>





            </div>
            <div fxLayout="row wrap" fxHide fxShow.gt-sm fxFlex="100" fxFlex.gt-sm="22">
                <div fxFlex="100">
                    <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-0">
                        <div fxFlex="100">
                            <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg  m-0">local_shipping</mat-icon>
                                <div class="content ml-10">
                                    <p>FREE SHIPPING</p>
                                    <span class="text-muted m-0">Free shipping on all orders over $99</span>
                                </div>
                            </mat-card>
                        </div>
                        <div fxFlex="100" class="mt-16">
                            <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg m-0">monetization_on</mat-icon>
                                <div class="content ml-10">
                                    <p>MONEY BACK GUARANTEE</p>
                                    <span class="text-muted m-0">100% money back guarantee</span>
                                </div>
                            </mat-card>
                        </div>
                        <div fxFlex="100" class="mt-16">
                            <mat-card class="light-block no-border" fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg m-0">history</mat-icon>
                                <div class="content ml-10">
                                    <p>ONLINE SUPPORT 24/7</p>
                                    <span class="text-muted m-0">Call us: <a href="tel:33148879891">+33 1 48 87 98 91</a></span>
                                </div>
                            </mat-card>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="products no-bg sec-padding">
            <div class="container">
                <div class="title">
                    <h4 class="widget-title">Featured Products</h4>
                </div>
                <app-product-carousel [product]="products | slice:0:6"></app-product-carousel>
            </div>
        </div>
    </div>
</div>