<div id="mainDIV" class="sophia-app app" [ngClass]="settings.theme" style="height: 100vh;overflow: auto;">

    <mat-sidenav-container fullscreen>

        <mat-sidenav [opened]="false" mode="over" #start class="sidenav">
            <button mat-icon-button color="warn" class="close" (click)="start.close()">
          <mat-icon color="warn">close</mat-icon>
        </button>
            <div class="divider"></div>
            <div class="sidebar-items" fxLayout="column">
                <app-sidebar *ngFor="let item of navItems" [item]="item"></app-sidebar>
            </div>
        </mat-sidenav>
        <mat-toolbar class="main-topbar" color="primary" [ngClass]="{topbar_four: url == '/home/four'}">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" class="top-bar container">
                <span fxHide="false" fxHide.gt-sm>
                    <button mat-icon-button (click)="start.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                 </span>
                <div fxLayout="row" class="welcome-message">
                </div>
                <div class="widgets-left" fxLayout="row">
                    <div *ngIf="isLoggedIn" class="widget-text">
                        <a fxShow="false" fxShow.gt-xs routerLinkActive="router-link-active">
                            Hi {{user?.firstname }} {{user?.lastname | uppercase}},</a>
                    </div>
                    <div class="widget-text">
                        <a fxShow="false" fxShow.gt-xs [routerLink]="['/pages/wishlist']" routerLinkActive="router-link-active">
                            <mat-icon class="mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon> WISHLIST</a>
                    </div>
                    <!-- <div class="widget-text">
                      <a fxShow="false" fxShow.gt-xs [routerLink]="['/pages/compare']" routerLinkActive="router-link-active" ><mat-icon>cached</mat-icon>COMPARE</a>
                    </div> -->
                    <div *ngIf="!isLoggedIn" class="widget-text">
                        <a fxShow="false" fxShow.gt-xs [routerLink]="['/pages/my-account']" routerLinkActive="router-link-active">
                            <mat-icon>person</mat-icon>My Account</a>
                    </div>
                    <div *ngIf="isLoggedIn&&role=='USER'" class="widget-text">
                        <a fxShow="false" fxShow.gt-xs [routerLink]="['/pages/order']" routerLinkActive="router-link-active">
                            <mat-icon>delivery_dining</mat-icon>Orders</a>
                    </div>
                    <div *ngIf="isLoggedIn&&role=='DELIVERY'" class="widget-text">
                        <a fxShow="false" fxShow.gt-xs [routerLink]="['/pages/delivery']" routerLinkActive="router-link-active">
                            <mat-icon>delivery_dining</mat-icon>Ship items</a>
                    </div>
                    <div *ngIf="isLoggedIn&&role=='ADMIN'" class="widget-text">
                        <a fxShow="false" fxShow.gt-xs [routerLink]="['/pages/create-user']" routerLinkActive="router-link-active">
                            <mat-icon>person</mat-icon>Create user</a>
                    </div>
                    <div *ngIf="isLoggedIn" class="widget-text">
                        <a fxShow="false" fxShow.gt-xs (click)="this.authService.loggedOutV2()" routerLinkActive="router-link-active">
                            <mat-icon>exit_to_app</mat-icon>Logout</a>
                    </div>
                </div>




            </mat-toolbar-row>

        </mat-toolbar>
        <app-header></app-header>
        <ngx-spinner></ngx-spinner>
        <router-outlet></router-outlet>
        <app-color-options></app-color-options>
        <app-footer></app-footer>


    </mat-sidenav-container>
</div>