<div class="product-item swiper-container" [swiper]="config">

    <div class="swiper-wrapper h-100">

        <div *ngFor="let product of product" class="swiper-slide">
            <mat-card fxLayout="column">
                <div class="product-img" [routerLink]="['/home/product', product.id]">
                    <a class="product-link">
                        <img [src]="domSanitizer.bypassSecurityTrustResourceUrl(product.photo)" alt="">
                    </a>
                </div>
                <div class="product-info-wrapper">
                    <span class="category"></span>
                    <div class="title-wrap" fxLayout="row" fxLayoutAlign="space-between center">
                        <h4 [routerLink]="['/home/product, product.id']">{{product.title}}</h4>
                        <p>{{product.price}}£</p>
                    </div>


                    <div class="btn-wrap" fxLayout="row" fxLayoutAlign="space-between center">
                        <p (click)="showMore(product)" class="view-more"> View {{ product.state === 'small' ? 'more' : 'less'}}</p>

                        <a class="bucket">
                            <a (click)="addToCart(product)">
                                <mat-icon color="primary" class="mat-icon-lg mat-icon material-icons">shopping_cart</mat-icon>
                            </a>
                        </a>

                    </div>
                    <div class="icons" fxLayout="column">
                        <a class="ic-1">
                            <mat-icon class="mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon>
                        </a>
                        <a (click)="openProductDialog(product)" class="ic-2">
                            <mat-icon>remove_red_eye</mat-icon>
                        </a>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>