<div class="checkout-wrapper">
    <div class="header-title" style="background: url(assets/images/background/background.png);">
        <div class="container" id="mainDIV">
            <div class="title">
                <h2 style="color:black;">Orders</h2>
            </div>
        </div>
    </div>
    <div class="checkout sec-padding" style="background: url(assets/images/background/download.svg);">
        <div class="container">

            <div fxLayout="row wrap" class="">
                <div style="padding:5px" class="mat-elevation-z8 w-100">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="m-2 p-4 row-border hover responsive w-100">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product name</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Status</th>
                                <th>Creation Time</th>
                                <th>Update Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders">
                                <td>{{ order.id }}</td>
                                <td>{{ order.productName }}</td>
                                <td>{{ order.total | number : '1.2-2' }} £</td>
                                <td>{{ order.paid | number : '1.2-2' }} £</td>
                                <td>{{ order.status }}</td>
                                <td>{{ order.created_at | date:"yyyy-MM-dd HH:mm:ss" }}</td>
                                <td>{{ order.updated_at | date:"yyyy-MM-dd HH:mm:ss" }}</td>
                                <td>
                                    <a [routerLink]="['/pages/order',order.id]">
                                        <button mat-raised-button class="btn-project" color="primary">View</button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>