/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

@import '~swiper/dist/css/swiper.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// Color 1 scss
@import './assets/scss/color1.scss';
@import './assets/scss/theme/theme';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination li {
    margin: 6px;
}

.dataTable td {
    text-align: center;
}

.centrizeCustom {
    width: 50%;
    margin-left: 25%!important;
    margin-right: 25%!important;
}

@media(max-width:630px) {
    .dataTables_wrapper .row .col-sm-12 {
        overflow-x: auto;
    }
    .dataTables_wrapper .row .col-sm-12::-webkit-scrollbar {
        width: 12px;
    }
    .dataTables_wrapper .row .col-sm-12::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    .dataTables_wrapper .row .col-sm-12::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
}